<!DOCTYPE html>
<html lang="en">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta charset="utf-8" />
    <meta content="Emeric" name="author" />
    <meta content="Realtime system monitoring" name="description" />
    <link rel="icon" type="image/svg" href="/public/favicon.svg" />
    <title><%- title %></title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <%- assets.css() %>
  </head>

  <body>
    <%- partial('partials/header')%>

    <div id="page">

      <section>
        <div class="box_wide">
          <div class="box_header">
            <img class="logo" src="images/round/gear.png" >
            <div class="title">
              <h1 class="orange">System informations</h1>
              <h2 class="orange">A lot of system informations in this box</h2>
            </div>
          </div>
          <div class="box_body">
            <table>
              <tr>
                <td><b>Operating system:</b></td>
                <td><%- sys_os_t %></td>
              </tr>
              <tr>
                <td><b>Network hostname:</b></td>
                <td><%- sys_hostname %></td>
              </tr>
              <tr>
                <td><b>Uptime:</b></td>
                <td><span id="sys_uptime">unknown</span> (raw: <%- sys_uptime %>)</td>
              </tr>
              <tr>
                <td><b>Temporary directory:</b></td>
                <td><%- sys_tmpdir %></td>
              </tr>
            </table>
          </div>
        </div>

        <script type="text/javascript">
        var socket = io.connect('http://localhost:1337');
          socket.request('/home/uptime', {
            message: 'uptime'
          }, function (response) {
            //console.log(response);
            document.getElementById('sys_uptime').innerHTML = response[0].uptime;
          });
        </script>

      </section>

      <section>
        <div class="box_wide">
          <div class="box_header">
            <img class="logo" src="images/round/alert.png" >
            <div class="title">
              <h1 class="green">CPU graph</h1>
              <h2 class="green">Let's try socket.io!</h2>
            </div>
          </div>
          <div class="box_body">
            <table>
              <tr>
                <td><b>Processors:</b></td>
                <td><%- sys_cpu_t %> <%- sys_cpu %></td>
              </tr>
              <tr>
                <td><b>CPU load average:</b></td>
                <td><span id="cpu_load_avg">Gathering cpu load through socket.io...</span></td>
              </tr>
              <tr>
                <td><b>CPU usage average:</b></td>
                <td><span id="cpu_usage_avg">Gathering average cpu usage through socket.io...</span></td>
              </tr>
              <tr>
                <td><b>CPU frequencies average:</b></td>
                <td><span id="cpu_freq_avg">Gathering average cpu frequency through socket.io...</span></td>
              </tr>
            </table>
            <b>Frequencies:</b> <span id="cpu_freq">Gathering cpu frequencies through socket.io...</span><br/>
            <b>Instant usage:</b> <span id="cpu_usage">Gathering cpu usage through socket.io...</span><br/>

            <script type="text/javascript" src="box_cpu.js"></script>
            <div class="box_zone"><div class="graph_cpu" height="128px"></div></div>

<script type="text/javascript">
var socket = io.connect('http://localhost:1337');

var t = 0, // start time (seconds since epoch)
    v = 0, // start value (subscribers)
    data = d3.range(50).map(usage_start); // starting dataset

function usage_start() {
  return {
    timecode: t++,
    usage: 0
  };
}

function usage_graph() {
  socket.request('/cpu/usage_avg', {
    message: 'usage_avg'
  }, function (response) {
    //console.log(JSON.stringify(response));
    t = 50 + response[0].timecode;
    v = response[0].usage;
  });

  return {
    timecode: t,
    usage: v
  };
}

setInterval(function() {
  data.shift();
  data.push(usage_graph());
  redraw();
}, 1000);

var w = 16, h = 128;

var x = d3.scale.linear()
    .domain([0, 1])
    .range([0, w]);

var y = d3.scale.linear()
    .domain([0, 100])
    .rangeRound([0, h]);

var chart = d3.select(".graph_cpu").append("svg")
    .attr("class", "chart")
    .attr("width", "100%")
    .attr("height", h)
    .attr("fill", "#ccc");

  chart.append("line")
    .attr("x1", 0)
    .attr("x2", "100%")
    .attr("y1", .5)
    .attr("y2", .5)
    .style("stroke", "#ccc");

  chart.append("line")
    .attr("x1", 0)
    .attr("x2", "100%")
    .attr("y1", 32 - .5)
    .attr("y2", 32 - .5)
    .style("stroke", "#ccc");

  chart.append("line")
    .attr("x1", 0)
    .attr("x2", "100%")
    .attr("y1", 64 - .5)
    .attr("y2", 64 - .5)
    .style("stroke", "#ccc");

  chart.append("line")
    .attr("x1", 0)
    .attr("x2", "100%")
    .attr("y1", 96 - .5)
    .attr("y2", 96 - .5)
    .style("stroke", "#ccc");

chart.selectAll("rect")
    .data(data)
  .enter().append("rect")
    .attr("x", function(d, i) { return x(i) - .5; })
    .attr("y", function(d) { return h - y(d.usage) - .5; })
    .attr("width", h)
    .attr("height", function(d) { return y(d.usage); });

chart.append("line")
    .attr("x1", 0)
    .attr("x2", "100%")
    .attr("y1", h - .5)
    .attr("y2", h - .5)
    .style("stroke", "red");

function redraw() {
  var rect = chart.selectAll("rect")
      .data(data, function(d) { return d.timecode; });

  rect.enter().insert("rect", "line")
      .attr("x", function(d, i) { return x(i + 1) - .5; })
      .attr("y", function(d) { return h - y(d.usage) - .5; })
      .attr("width", w)
      .attr("height", function(d) { return y(d.usage); })
      .transition()
      .duration(1000)
      .attr("x", function(d, i) { return x(i) - .5; });

  rect.transition()
      .duration(1000)
      .attr("x", function(d, i) { return x(i) - .5; });

  rect.exit().transition()
      .remove();
}
</script>
          </div>
        </div>
      </section>

      <section>
        <div class="box_square">
          <div class="box_header">
            <img class="logo" src="images/round/gear.png" >
            <div class="title">
              <h1 class="pink">CPUs</h1>
              <h2 class="pink">Detailed processors list</h2>
            </div>
          </div>
          <div class="box_body">
            <% _.each(sys_cpus, function (sys_cpus) { %>
            <li><%= sys_cpus.model %></li>
            <% }) %>
          </div>
        </div>

        <div class="box_square">
          <div class="box_header">
            <img class="logo" src="images/round/usage.png" >
            <div class="title">
              <h1 class="red">Memory</h1>
              <h2 class="red">Detailed memory stats</h2>
            </div>
            <div class="infos"><p class="red"><span id="mem_usage_percent">0</span>%</p></div>
          </div>
          <div class="box_body">
            <table>
              <tr>
                <td><b>Total:</b></td>
                <td><%- sys_mem_mib %> (<%- sys_mem_mb %>)</td>
              </tr>
              <tr>
                <td><b>Used:</b></td>
                <td><%- sys_mem_used %></td>
              </tr>
              <tr>
                <td><b>Free:</b></td>
                <td><%- sys_mem_free %></td>
              </tr>
              <tr>
                <td><b>Swap:</b></td>
                <td><span id="sys_swap">searching...</span></td>
              </tr>
            </table>
            <div class="graph_mem"></div>
            <script type="text/javascript" src="box_mem.js"></script>
          </div>
        </div>
      </section>

      <section>
        <div class="box_square">
          <div class="box_header">
            <img class="logo" src="images/round/bdd.png" >
            <div class="title">
              <h1 class="blue">Network</h1>
              <h2 class="blue">Active network interfaces for '<%- sys_hostname %>'</h2>
            </div>
          </div>
          <div class="box_body">
            <b>Network hostname:</b> <%- sys_hostname %><br /><br />
            <b>Interfaces:</b><br />
            <% _.each(sys_net, function (sys_net) { %>
            <li><%= JSON.stringify(sys_net) %></li>
            <% }) %><br />
          </div>
        </div>
      </section>
    </div>

    <%- partial('partials/footer')%>
  </body>

</html>
